<h2>Servers List</h2>

<app-server *ngFor="let server of servers"></app-server>

<hr>
<label>Server Name</label>
<input type="text" class="form-control" [(ngModel)]="serverName">
<app-server-button (click)="onCreateServer()"></app-server-button>
<p *ngIf="serverCreated">Server named <b>{{serverName}}</b> was created</p>
<!-- <p>{{serverCreationStatus}}</p> -->
<hr>
<label>User Name</label>
<input type="text" class="form-control" [(ngModel)]="username">
<h2>Username: {{username}}</h2>
<button class="btn btn-primary" [disabled]="username.length==0" (click)="resetUserName()">Reset Username</button>
